.DS_Store
mysql_data/
.idea
.vscode

backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
!backend/storage/framework/cache/data/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
